*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --blue: rgb(10, 132, 255);
  --purple: rgb(175, 82, 222);
  --red: rgb(255, 59, 48);
  --gradient: 72deg, rgba(206,15,61,1) 5%, rgba(28,155,235,1) 52%, rgba(43,60,150,1) 85%, rgba(107,22,167,1) 100%;
  --gray: rgb(0, 0, 0);
  --primary: rgba(255, 255, 255, 1);
  --secondary: rgba(255, 255, 255, .7);
  --hint: rgba(255, 255, 255, .5);
  --separator: rgba(255, 255, 255, .12);
  --shade: rgba(255, 255, 255, .03);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: var(--gray);
}

html[data-theme="light"] {
  --blue: rgb(0, 122, 255);
  --purple: rgb(191, 90, 242);
  --red: rgb(255, 69, 58);
  --gray: rgb(255, 255, 255);
  --primary: rgba(0, 0, 0, .87);
  --secondary: rgba(0, 0, 0, .65);
  --hint: rgba(0, 0, 0, .38);
  --separator: rgba(0, 0, 0, .12);
  --shade: rgba(0, 0, 0, .03);
}

@supports (font-variation-settings:normal) {
  html {
    -webkit-font-feature-settings: "case" 1;
    font-feature-settings: "case" 1;
  }
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji";
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.374px;
  color: var(--primary);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 32px;
}

main,
footer {
  padding: 16px 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  display: block;
  animation: fadeInUp 1000ms ease-out 1000ms;
  animation-fill-mode: backwards;
}

footer p {
  font-size: 12px;
  line-height: 16.0004px;
  letter-spacing: -0.12px;
  margin: 0;
  color: var(--hint);
}

footer a {
  color: var(--secondary);
}

a,
button {
  color: var(--blue);
  text-decoration: none;
}

a:hover,
a:active,
button {
  opacity: 0.7;
}

button {
  appearance: none;
  -webkit-appearance: none;
  display: inline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.stagger-wrapper{
  display: inline-block;
  overflow: hidden;
}

.stagger{
  display: inline-block;
  animation: slideUp 400ms ease-out;
  animation-fill-mode: backwards;
}

h1 {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: .009em;
  line-height: 1.21053;
  margin: 0;
  animation: fadeInUp 500ms ease-out;
  animation-fill-mode: backwards;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: .004em;
  line-height: 1.05;
  margin: 60px 0 0 0;
}

h3 {
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 600;
  letter-spacing: .011em;
  margin: 30px 0 0 0;
  animation: fadeInUp 300ms ease-out 800ms;
  animation-fill-mode: backwards;
}

h3 a {
  color: var(--primary);
  text-decoration: underline;
}

.gradient-inner {
  color: var(--blue);
}

.gradient-inner a {
  color: inherit;
}

@supports (mix-blend-mode: multiply) {
  .gradient {
    background: var(--blue);
    background: -webkit-linear-gradient(var(--gradient));
    background: linear-gradient(var(--gradient));
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gradient-inner {
    color: white;
    background: black;
    mix-blend-mode: multiply;
  }
}

#day,
#hours,
#minutes,
#seconds {
  font-variant-numeric: tabular-nums;
}

@media (min-width: 576px) {
  h1 {
    font-size: 24px;
    letter-spacing: 0.196px;
    line-height: 1.5em;
  }

  h2 {
    font-size: 96px;
    letter-spacing: -1.44px;
    line-height: 1.035em;
  }

  h3 {
    font-size: 48px;
    line-height: 1.08349;
    letter-spacing: -.003em;
  }
}
