<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no"
    />
    <block name="meta"></block>
    <meta property="og:locale" content="en" />
    <link rel="shortcut icon" href="~/src/favicon.ico" type="image/x-icon" />
    <link rel="apple-touchs-icon" href="~/src/images/keynote_icon57x57.png" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="~/src/images/keynote_icon76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="~/src/images/keynote_icon120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="176x175"
      href="~/src/images/keynote_icon176x176.png"
    />
    <script>
      document.documentElement.className =
        document.documentElement.className.replace(/\bno-js\b/g, '') + ' js '
    </script>
    <script type="module">
      require('~/src/scripts/critical.js')
    </script>
    <style>
      @import '~/src/styles/critical.css';
    </style>
    <link rel="stylesheet" href="~/src/styles/style.css" type="text/css" />
    <link rel="preload" href="~/src/scripts/index.js" as="script" />
  </head>
  <body class="bg-black/5 text-black dark:bg-black dark:text-white">
    <div class="flex min-h-full flex-col">
      <header></header>

      <main class="flex flex-grow flex-col justify-center pt-8 pb-4">
        <block name="content"></block>
      </main>

      <div class="overflow-hidden">
        <footer class="container animate-fade pt-4 pb-8 text-xs">
          <p>
            Help us keep this website up to date. Add the event by making a PR
            on
            <a
              href="https://github.com/lejtzen/wheniskeynote.com"
              title="Lejtzéns wheniskeynote at GitHub"
              rel="noopener noreferrer"
              >GitHub</a
            >. Brought by
            <a
              href="https://serpapi.com"
              title="Serp Api"
              rel="nofollow noopener noreferrer"
              >Serp Api</a
            >:
            <a
              href="https://serpapi.com"
              title="Google Search API"
              rel="nofollow noopener noreferrer"
              >Google Search API</a
            >. &copy; <span id="year"></span>
            <a
              href="/src/pages/index.html"
              title="When is the next Apple keynote?"
              >wheniskeynote.lejtzendesign.se</a
            >.
            <span class="js-hidden"
              >Select appearance
              <select
                data-component="theme-switcher"
                class="rounded-md border bg-transparent"
              >
                <option value="system">System</option>
                <option value="dark">Dark</option>
                <option value="light">Light</option>
              </select></span
            >
          </p>
        </footer>
      </div>
    </div>

    <script type="module" src="~/src/scripts/index.js" defer></script>
  </body>
</html>
